body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(
    135deg,
    #141414,
    #5f6475,
    #353535
    );  
      
    /* CENTERING */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: rgb(46, 46, 46);
    color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0px 50px rgba(226, 226, 226, 0.5);
}

.SuggestPassword {
    width: 400px;
    background: rgb(46, 46, 46);
    color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 50px;
    box-shadow: 0 0px 50px rgba(226, 226, 226, 0.5);
}

.SuggestPassword button {
    margin: 7px 8px;
    border-radius: 50px;
}

input {
    width: 94%;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
}    
    
.bar {
    width: 95%;
    height: 10px;
    background: #ffffff;
    margin: 12px 8px 10px 8px;
    border-radius: 10px;
    overflow: hidden;
}

.fill {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    transition: width 0.4s ease, background 0.4s ease;
}

.strength-text {
    margin: 0px 8px;
}

.checklist p {
    margin: 5px 8px;
}

.valid { color: green; }
.invalid { color: #ffffff}
